@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">List of Articles</h1>
<div class="text-center mt-4">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Author</th>
                <th scope="col">Date created</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in Model.Articles)
            {
                <tr>
                    <th scope="row">@article.Id</th>
                    <td>@article.Title</td>

                    @* JH, 2020-08-20, Display reduced length of content *@
                    @if (@article.Body.Length > 20) {
                        <td class="text-left">@article.Body.Substring(0, 20)...</td>
                    } else {
                        <td class="text-left">@article.Body</td>
                    }

                    <td>@article.Author</td>
                    <td>@article.TimeStamp</td>
                    <td>
                        <a class="btn btn-outline-info" asp-page="/view" asp-route-id="@article.Id">View</a>
                        @* JH, 2020-08-21, Checking user permission *@
                        @if (User.Identity.Name == article.Author.UserName)
                        {
                            <a class="btn btn-outline-danger" asp-page-handler="Delete" asp-route-id="@article.Id" onclick="return confirm('Are you sure you want to delete this?')">DELETE</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
